
@{
    ViewData["Title"] = "AboutUs";
}

    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div>
                            <iframe width="900" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=25.7135009765625%2C43.10445309170205%2C25.72354316711426%2C43.10967762754136&amp;layer=mapnik&amp;marker=43.10706174774504%2C25.71852207183838" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=43.10706&amp;mlon=25.71852#map=17/43.10707/25.71852">Преглед на по-голяма карта</a></small>
                        </div>
                    </section>
                    <aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="block block-account">
                            <div class="block-title"> Информация </div>
                            <div class="block-content">
                                <ul>
                                    <li>улица: Булевард Христо Ботев 16</li>
                                    <li>град: Лясковец</li>
                                    <li>телефон за връзка: </li>
                                    <li>работно време: от понеделник до петък, от 9 до 18 ч.</li>
                                </ul>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>
        </section>
    </div>

