
@{
    ViewData["Title"] = "CookiePolicy";
}

<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account" style="text-align: center;  left:150px;">
                        <h3>Политика за бисквитки ("cookies")<br /></h3>
                        <h2>
                            Политика за използване на бисквитки

                            За да ти предоставим възможно най-доброто потребителско изживяване, понякога използваме така наречените "бисквитки" ("cookies").

                            Научи какво представляват и за какво ги използваме.

                            Какво представляват бисквитките?

                            Бисквитките са малки текстови файлове, които се запазват на твоя компютър или мобилно устройство, когато посещаваш даден уебсайт. Те позволяват на уебсайта да запаметява твоите действия и предпочитания (като например потребителско име, език, размер на шрифта и други настройки за показване) за определен период от време, за да не се налага да ги въвеждаш всеки път, когато посещаваш сайта или преминаваш от една страница към друга.

                            По какъв начин използваме бисквитките?

                            Посещаването на този сайт може да създаде бисквитки със следните цели:<br />

                            Процеси Позволяват гладкото функциониране на сайта и неговите функции.<br />

                            Предпочитания Тези „бисквитки“ позволяват на уебсайтовете ни да запомнят информация, която променя начина, по който се държи или изглежда сайтът, като предпочитания от теб език или региона, в който се намираш.<br />

                            Сигурност Използваме „бисквитки“ за сигурност с цел удостоверяване на потребителите, за предотвратяване на измамническо използване на идентификационни данни за вход, както и за защита на потребителската информация от неупълномощени страни.<br />

                            Google Анализ Google Анализ е аналитичен инструмент на Google, който помага на собствениците на уебсайтове и приложения да разберат как посетителите им се ангажират с техните собствености. Той може да използва набор от „бисквитки“, за да събира информация и да отчита статистически данни за употребата на даден уебсайт, без да идентифицира лично отделните посетители на Google.<br />

                            Как да контролираш бисквитките?

                            Можеш да контролираш и/или изтриваш бисквитки, когато пожелаеш - за повече информация виж aboutcookies.org Можеш да изтриеш всички бисквитки, които вече са запазени на твоя компютър, а също така можеш да настроиш повечето браузъри да ги блокират. Ако направиш това обаче, може да се наложи ръчно да настройваш някои параметри всеки път, когато посещаваш даден сайт, а освен това е възможно някои услуги и функции да не работят.
                        </h2>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>

