@model YovevElectric.Web.ViewModels.Category.AllCategoriesAndSubCategoriesViewModell;
<body onload="loadCategories()">
    <div id="page">

        <!--container-->

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- Slider -->
                    <div class="home-slider5">
                        <div id="thmg-slideshow" class="thmg-slideshow">
                            <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                                <div>
                                    <img style="width:1600px; height:600px;" src='~/images/tabelaa.jpg' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="tp-bannertimer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Category slider Start-->
            
            <br />
            
            <!-- best Pro Slider -->
            <section class=" wow bounceInUp animated">
                <div class="hot_deals slider-items-products container" style=" margin-top:60px; width:1090px; right:115px;">

                    <div id="hot_deals" class="product-flexslider hidden-buttons " >
                        <div class="slider-items slider-width-col4 products-grid" >
                            @foreach (var category in Model.Categories)
                            {
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="@category.ImgPath" class="categoryImg" alt="Retis lapen casen"></a>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" asp-area="" asp-controller="Products" asp-action="Products" asp-route-category="@category.Name"><span>Quick View</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">@category.Name</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div style="margin-left:1200px; margin-top: -305px">
                    <a style="margin-top: -60px;"><h2>Тъпсене по категория <br /> и подкатегория</h2></a>

                    <form class="b-filter" method="get" asp-area="" asp-controller="Products" asp-action="Products">
                        <div>
                            <div class="form-group" style="width:650px;">
                                <select class="form-group" name="category" onchange="loadSubCategoriesToDropDown()" id="categories">
                                </select>
                            </div>
                            <div class="form-group" style="width:650px;">
                                <select class="form-group" name="subCategory" id="subCategories">
                                </select>
                            </div>
                            <div class="b-filter__btns">
                                <button class="btn btn-primary" style="width:227px;">Търси</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Logo Brand Block -->




            <div class="logo-brand container" style="margin-top:50px;width: 1100px;" >
                <div class="brand-title">
                    <h2>Партньори</h2>
                </div>
                <div class="slider-items-products">
                    <div id="brand-slider" class="product-flexslider hidden-buttons">
                        <div >
                            <!-- Item -->
                            <div class="item" style="float:left;">
                                <div class="logo-item "><a href="https://new.abb.com/bg" ><img class="brandsLogo" src="~/images/TMH_ABB_img.jpg" alt="Image"></a></div>
                            </div>
                            <div class="item" style="float:right;">
                                <div class="logo-item "><a href="#" ><img class="brandsLogo" src="~/images/chintel.jpg" alt="Image"></a></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- For version 1,2,3,4,6 -->
            <!-- End For version 1,2,3,4,6 -->

        </div>
        <!--page-->
</body>

<style>
    body, html {
        height: 100%;
    }

    * {
        box-sizing: border-box;
    }

    .bg-img {
        /* The image used */
        background-image: url("~/images/FON.jpg");
        /* Control the height of the image */
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>

