@model YovevElectric.Web.ViewModels.Category.AllCategoriesAndSubCategoriesViewModell;
<body onload="loadCategories()">
    <div id="page">

        <!--container-->

        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- Slider -->
                    <div class="home-slider5">
                        <div id="thmg-slideshow" class="thmg-slideshow">
                            <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                                <div>
                                    <img src='~/images/test.jpg' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                    <div class="tp-bannertimer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Category slider Start-->
            <div class="section-filter">
                <div class=" bg-grey container" style="content: '~/images/FON.jpg'">
                    <img src="~/images/FON.jpg" style="width: 1300px; ">
                    <div class="container" style="margin-bottom:250px;">
                        <h2></h2>
                        <form class="b-filter" method="get" asp-area="" asp-controller="Products" asp-action="Products">
                            <!--<div class="row" style="border:1px solid grey; border-spacing:-10px">-->
                                <div class="form-group" style="display:inline; width:100px;">
                                    <select class="form-group" name="category" onchange="loadSubCategoriesToDropDown()" id="categories">
                                    </select>
                                </div>
                                <div class="form-group" style="display:inline;">
                                    <select class="form-group" name="subCategory" id="subCategories">
                                    </select>
                                </div>
                                <div class="b-filter__btns" style="display:inline;">
                                    <button class="btn btn-lg btn-primary"  data-width="100%" tabindex="-98">Търси</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <!-- best Pro Slider -->
            <section class=" wow bounceInUp animated">
                <div class="hot_deals slider-items-products container">

                    <div id="hot_deals" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4 products-grid">
                            @foreach (var category in Model.Categories)
                            {
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="@category.ImgPath" class="categoryImg" alt="Retis lapen casen"></a>
                                                <div class="item-box-hover">
                                                    <div class="box-inner">
                                                        <div class="product-detail-bnt"><a class="button detail-bnt" asp-area="" asp-controller="Products" asp-action="Products" asp-route-category="@category.Name"><span>Quick View</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">@category.Name</a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>

            <!-- Logo Brand Block -->




            <div class="logo-brand container">
                <div class="brand-title">
                    <h2>Popular Brands</h2>
                </div>
                <div class="slider-items-products">
                    <div id="brand-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col6">
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand1.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand2.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand3.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand4.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand5.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand6.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand1.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand2.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand3.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand4.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->
                            <!-- Item -->
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand5.png" alt="Image"></a></div>
                            </div>
                            <div class="item">
                                <div class="logo-item"><a href="#"><img src="images/brand6.png" alt="Image"></a></div>
                            </div>
                            <!-- End Item -->

                        </div>
                    </div>
                </div>
            </div>

            <!-- For version 1,2,3,4,6 -->
            <!-- End For version 1,2,3,4,6 -->

        </div>
        <!--page-->
</body>

<script>
    function test() {
        var token = $("#form input[name=__RequestVerificationToken]").val();
        var json = { testt: "test" };
        console.log(json)
        $.ajax({
            url: "/api/apiTest",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                console.log("success")
            }

        });
    }
</script>
<style>
    #fon {
        content: url("~/images/FON.jpg");
    }
</style>

