
<body onload="test()">
<div id="page">

    <!--container-->

    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- Slider -->
                <div class="home-slider5">
                    <div id="thmg-slideshow" class="thmg-slideshow">
                        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                            <div>
                                <img src='~/images/test.jpg' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                                <div class="tp-bannertimer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Category slider Start-->

        <div class="section-filter">
            <div class="b-filter__inner bg-grey container">
                <h2>Find your right car</h2>
                <form class="b-filter">
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" data-width="100%" tabindex="-98">
                            <option>Select Make</option>
                            <option>Make 1</option>
                            <option>Make 2</option>
                            <option>Make 3</option>
                        </select>
                    </div>
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" data-width="100%" tabindex="-98">
                            <option>Select Car Status</option>
                            <option>Status 1</option>
                            <option>Status 2</option>
                            <option>Status 3</option>
                        </select>
                    </div>
                    <div class="btn-group bootstrap-select">
                        <select class="selectpicker" data-width="100%" tabindex="-98">
                            <option>Select Model</option>
                            <option>Model 1</option>
                            <option>Model 2</option>
                            <option>Model 3</option>
                        </select>
                    </div>



                    <div>
                        <div class="b-filter__btns">
                            <button class="btn btn-lg btn-primary">search vehicle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- best Pro Slider -->
        <section class=" wow bounceInUp animated">
            <div class="hot_deals slider-items-products container">

                <div id="hot_deals" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col4 products-grid">
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="~/products-images/p1.jpg" alt="Retis lapen casen"></a>
                                        <div class="new-label new-top-left">Used</div>
                                        <div class="sale-label sale-top-left">-15%</div>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$49000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="~/products-images/p2.jpg" alt="Retis lapen casen"></a>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$39000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i> 847km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Manual</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="~/products-images/p3.jpg" alt="Retis lapen casen"></a>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$99000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i>687km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Manual</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2019</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->

                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="~/products-images/p12.jpg" alt="Retis lapen casen"></a>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$59000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i> 10587km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Manual</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2017</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="~/products-images/p8.jpg" alt="Retis lapen casen"></a>
                                        <div class="new-label new-top-left">New</div>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$47000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i> 0km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Manual</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2019</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a href="accessories-detail.html" title="Retis lapen casen" class="product-image"><img src="images/p6.jpg" alt="Retis lapen casen"></a>
                                        <div class="new-label new-top-left">New</div>
                                        <div class="item-box-hover">
                                            <div class="box-inner">
                                                <div class="add_cart">
                                                    <button class="button btn-cart" type="button"></button>
                                                </div>
                                                <div class="product-detail-bnt"><a class="button detail-bnt"><span>Quick View</span></a></div>
                                                <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a> </span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                                        <div class="item-content">
                                            <div class="rating">
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                                </div>
                                            </div>
                                            <div class="item-price">
                                                <div class="price-box"><span class="regular-price"><span class="price">$67000.00</span> </span> </div>
                                            </div>
                                            <div class="other-info">
                                                <div class="col-km"><i class="fa fa-tachometer"></i> 847km</div>
                                                <div class="col-engine"><i class="fa fa-gear"></i> Semi</div>
                                                <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2016</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item -->
                    </div>
                </div>
            </div>
        </section>

        <!-- Logo Brand Block -->




        <div class="logo-brand container">
            <div class="brand-title">
                <h2>Popular Brands</h2>
            </div>
            <div class="slider-items-products">
                <div id="brand-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand1.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand2.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand3.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand4.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand5.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand6.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand1.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand2.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand3.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand4.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand5.png" alt="Image"></a></div>
                        </div>
                        <div class="item">
                            <div class="logo-item"><a href="#"><img src="images/brand6.png" alt="Image"></a></div>
                        </div>
                        <!-- End Item -->

                    </div>
                </div>
            </div>
        </div>

        <!-- For version 1,2,3,4,6 -->
        <!-- End For version 1,2,3,4,6 -->

    </div>
    <!--page-->
</body>

    <script>
    function test() {
        var token = $("#form input[name=__RequestVerificationToken]").val();
        var json = { testt: "test" };
        console.log(json)
        $.ajax({
            url: "/api/apiTest",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                console.log("success")
            }

        });
    }
    </script>
