
@{
    ViewData["Title"] = "LegalNotice";
}

<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account" style="text-align: center;  left:150px;">
                        <h3>Решаване на спорове<br /></h3>
                        <h2>
                            На посоченият линк бихте имали възможност да се запознаете с решаване на онлайн спорове<br />
                            <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">Онлайн решаване на спорове</a> <br />

                            Лин към сайта на КЗП:<br />
                            <a href="https://www.kzp.bg/standarten-formulyar-za-uprazhnyavane-pravo-na-otkaz-pri-online-pokupki">КЗП</a> <br/>
                            Информация за онлайн решаване на потребителски спорове съгласно чл. 14, ал. 1 от ОРС (регламент за Онлайн Решаване на Спорове):
                            Съгласно разпоредбите на чл. 14, ал. 1 от ОРС Европейската комисия предоставя една от платформите си на потребителите за разрешаване на онлайн спорове. Платформата (http://ec.europa.eu/consumers/odr) дава възможност за постигане на извънсъдебни споразумения по спорове, свързани с онлайн покупки и договори за услуги.
                        </h2>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>

