
@{
    ViewData["Title"] = "Refusal";
}

<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account" style="text-align: left;  left:150px;">
                        <h3>Право на отказ<br /></h3>
                        <h2>
                            <h4>СТАНДАРТЕН ФОРМУЛЯР ЗА УПРАЖНЯВАНЕ ПРАВО НА ОТКАЗ</h4><br />



                            До ...........................<br />

                            /името на търговеца/<br />

                            ................................................................................<br />

                            /адрес, ЕИК/<br />

                            С настоящото уведомявам, че се отказвам от сключения от мен договор за покупка на следните стоки/услуги:<br />

                            .......................................................... /описание на продукта/<br />

                            Стоката е поръчана на ......................<br />

                            Стоката е получена на ...................... /посочва се датата на получаване от потребителя/<br />

                            .................................................................................../Име на потребителя/<br />

                            Гр./с...................................................................... /Адрес на потребителя/<br />



                            <p style="word-spacing: 100px;">...................                                                                             ..................................</p>

                            <span style="word-spacing: 100px;">/Дата/                                                                                 /Подпис</span> на потребителя/<br />



                            Потребителят има право в срок от 14 дни да се откаже безусловно от договор от разстояние или от договор извън търговския обект, без да заплаща каквито и да е разходи, с изключение на тези за доставка в случай, че е избрал различен от стандартния най-евтин за търговеца начин за доставяне на поръчката, както и разходите за връщането на стоката обратно.

                            14-дневният срок започва да тече от датата на:

                            сключване на договора – при договор за услуги;
                            приемане на стоките от потребителя или от трето лице, различно от превозвача
                            В рамките на 14 дни след заявеното желание за отказ от договора потребителят следва да върне стоката на търговеца. В срок от 14 дни, считано от датата, на която е бил уведомен за решението на потребителя да се откаже от договора, търговецът възстановява всички суми, получени от потребителя, включително разходите за доставка.<br />
                            <a href="https://www.kzp.bg/data/content/u/8/upload/Formulqr%20otkaz%20online.docx"><b>Изтегляне на формуляра от тук.</b></a>
                        </h2>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>
