
@{
    ViewData["Title"] = "Shippment";
}

<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account" style="text-align: center;  left:150px;">
                        <h3>Уважаеми клиенти,<br/></h3>
                        <h2>От нас може да поръчате желаните артикули, без ограничение в количеството.

                        Доставките се извършват от куриерска фирма „Еконт Експрес“ – от офис до офис или адрес по избор, като цената се определя в зависимост от теглото и наложения платеж (НП) на Вашата поръчка.

                        В полето „Адрес“ напишете къде искате да бъде изпратена пратката, като вместо адрес може да посочите офис а Еконт.

                        Условията за доставка важат само за територията на Република България.

                        Времето за доставка е от 1 до 5 работни след постъпване на заявка. В случай на изчерпан артикул, ще бъдете уведомени своевременно за това.

                        Плащането се извършва чрез наложен платеж тип „Паричен Пощенски Превод“ (НП ППП). При НП ППП от Еконт се издава разписка за стойността на пратката, като това е официален документ, удостоверяващ направеното от Вас плащане. ПАЗЕТЕ РАЗПИСКИТЕ, ПОЛУЧЕНИ ОТ ЕКОНТ.

                        Пратките се изпращат с опция "ПРЕГЛЕД" и ЗАСТРАХОВКА! Ваше право е да отворите пратката в присъствието на куриера. Претенции за установени транспортни повреди след приемането на доставката няма възможност да бъдат удовлетворени!

                        При поръчка на големи количества, работим с транспортни фирми, като условията и цените по доставка се договарят допълнително.</h2>
                    </div>
                </section>
                
            </div>
        </div>
    </section>
</div>

