
@{
    ViewData["Title"] = "TermsAndConditionsOfUse";
}

<div id="page">
    <section class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                    <div class="my-account" style="text-align: center;  left:150px;">
                        <h3>Правила за ползване на сайта<br /></h3>
                        <h2>
                            <h4><b>Условия за ползване:</b></h4>


                            Настоящите условия регламентират условията и реда за ползване на сайта www.yovevelectric.com<br />

                            1.      Определения, използвани в настоящите общи условия:<br />

                            „Търговец“ е „YovevElectric“ ЕООД, (ДДС №BG203803440) гр. Лясковец, булевард Христо Ботев 16 (МОЛ Иван Йорданов).

                            „Потребител“ е всеки, който е посетил www.yovevelectric.com<br />

                            2.      Поръчка<br />

                            Поръчката на даден артикул се извършва чрез натискане на бутон „Добави в кошница“.

                            За финализиране на поръчката, клиентът би следвало да попълни всички задължителни полета в он-лайн формуляра "Данни за купувача".

                            След потвърждаване на поръчката, Потребителят се съгласява да купи стоката, която се намира в кошницата. След потвърждаване на

                            поръчката се счита, че договорът за покупко-продажба между Потребител и „YovevElectric“ ЕООД е сключен.

                            „YovevElectric“ ЕООД запазва правото си на отказ при направена поръчка в случай, че няма наличност от желана стока.


                            „YovevElectric“ ЕООД не носи отговорност при неправилно посочени данни или избор на продукт. Ако имате съмнения относно избора си, моля,

                            свържете се с нас.<br />

                            3.      Доставка<br />

                            При получаване на стоката, клиентът може да я прегледа и в случай на установяване на щета, следва търговеца да бъде уведомен.

                            При повреда на стоката по вина на транспортната фирма, „YovevElectric“ ЕООД не носи отговорност.

                            Препоръчваме внимателен оглед на пратката и при съмнения за повреда, да се състави приемно-предавателен протокол

                            и завеждане на рекламация към превозвача.

                            „YovevElectric“ ЕООД не носи отговорност за стоката след предаването ѝ на клиента.

                            „YovevElectric“ ЕООД не носи отговорност за закъснение по вина на доставчик.

                            Ако стоката при преглед не отговаря на заявената от Потребителят/клиентът, същият има право да я откаже.

                            Отказът за получаване на стока, различен от горепосочения, се смята за неоснователен и клиентът е длъжен да заплати разходите по

                            транспортирането на стоката.<br />

                            4.      Плащане<br />

                            Важат цените, посочени в ценовата оферта. Тези цени са в Български лева и са с включен ДДС.

                            Плащането се извършва при получаване на стоката.

                            5.      Доставчикът предприема мерки за защита на личните данни на Ползвателя съгласно Закона за защита на личните данни и

                            Регламент 2016/679.<br />
                            Целта на събиране на личните данни на Ползвателите е свързана единствено с обслужването на Ползвателите на електронния магазин, а

                            именно: приемане и изпълнение на поръчки, поддържане на профила на всеки Ползвател, уведомяване и връзка с ползватели на електронния

                            магазин при необходимост и във връзка с поръчките им, подобряване на обслужването.<br />



                            6.     Други<br />

                            При получаване на пратката Ви чрез Еконт, документът който получавате представлява касов бон. Моля, пазете го.
                        </h2>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>

