@model YovevElectric.Web.ViewModels.Img.ImgUploadViewModel;
@using YovevElectric.Common;
@{
    ViewData["Title"] = "ImgUpload";
}
<body onload="loadImg()">
    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">

                            <div class="box-account">
                                <h3>Качи снимка.</h3>
                                <form method="post" dasp-controller="Files" runat="server" enctype="multipart/form-data" asp-area="Administration" asp-controller="Img" asp-action="ImgUpload">
                                    <div id="pic1">
                                        <br>
                                        <input type="hidden" asp-for="@Model.ProductId" name="ProductId" />
                                        <img id="img" src="@GlobalConstants.DefaultImgProduct" class="defaultImg" alt="your image" />
                                        <br>
                                        <input type='file' name="productImg" onchange="readURL(this)" id="productImg" />
                                        <br>
                                        <button onclick="upload()" id="btnSubmit" type="submit" value="Upload Imgs" class="btn btn-primary">Качи снимката</button>
                                        <br>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </section>
                    <partial name="_AccountNavPartial" />
                </div>
            </div>
        </section>
    </div>
</body>