@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <h2>Забравена парола</h2>
    <p>
        Моля провери имейла си.
    </p>
</div>
