@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
    <h2>Потвърждаване на възстановена парола</h2>
    <p>
        Паролата, ви, беше възстановена. Моля, <a asp-page="./Login">натиснете тук, за да влезете.</a>.
    </p>
</div>
