@model YovevElectric.Web.ViewModels.MyAccount.ChangePasswordInputModel;
@{
    ViewData["Title"] = "ChangePassword";
}

    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">
                            <form asp-area="" asp-controller="MyAccount" asp-action="ChangePassword" method="post" id="login-form">
                                <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                                <div class="col-2 registered-users">
                                    <strong>Промени парола</strong>
                                    <div class="content">

                                        <ul class="form-list">
                                            <li>
                                                <label for="pass">Стара парола</label>

                                                <input type="password" asp-for="OldPassword" class="input-text required-entry validate-password" id="pass" title="Password">
                                                <span asp-validation-for="OldPassword" class="text-danger" />

                                            </li>
                                            <li>
                                                <label for="pass">Нова парола</label>

                                                <input type="password" asp-for="NewPassword" class="input-text required-entry validate-password" id="pass" title="Password">
                                                <span asp-validation-for="NewPassword" class="text-danger" />

                                            </li>
                                            <li>
                                                <label for="pass">Потвърди нова парола</label>

                                                <input type="password" asp-for="ConfirmNewPassword" class="input-text required-entry validate-password" id="pass" title="Password">
                                                <span asp-validation-for="ConfirmNewPassword" class="text-danger" />

                                            </li>
                                        </ul>

                                    </div>
                                    <button type="submit" class="button login" title="Change Password"><span>Смени парола</span></button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <partial name="_AccountNavPartial" />
                </div>
            </div>
        </section>
    </div>

