
@{
    ViewData["Title"] = "MyAccount";
}

<body>
    <div id="page">
        <section class="main-container col2-right-layout">
            <div class="main container">
                <div class="row">
                    <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                        <div class="my-account">
                        </div>
                    </section>
                    <partial name="~/Areas/Administration/Views/Shared/_AccountNavPartial.cshtml" />

                </div>
            </div>
        </section>
    </div>
</body>

