@model YovevElectric.Web.ViewModels.Product.EditProductModel;
@using YovevElectric.Common;
@{
    ViewData["Title"] = "EditImg";
}


    <form method="post" dasp-controller="Files" runat="server" enctype="multipart/form-data" asp-area="Administration" asp-controller="Img" asp-action="ImgUpload">
        <div id="pic1">
            <br>
            <input type="hidden" asp-for="@Model.ImgEditModel.ImgEditViewModel.ProductId" name="ProductId" />
            <img id="img" src="@Model.ImgEditModel.ImgEditViewModel.ImgPath" class="defaultImg" alt="your image" />
            <br>
            <input type='file' name="productImg" onchange="readURL(this)" id="productImg" />
            <br>
            <button onclick="upload()" id="btnSubmit" type="submit" value="Upload Imgs" class="btn btn-primary">Качи снимката</button>
            <a onclick="readURL(this);" href="/Administration/Img/DeleteImg?id=@Model.ImgEditModel.ImgEditViewModel.ProductId" id="btn" class="btn btn-outline-secondary">Изтрий снимката</a>
            <br>
        </div>
    </form>



