@using YovevElectric.Common;
@using YovevElectric.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "_AccountNavPartial";
}

<aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
    <div class="block block-account">
        <div class="block-title"> Моят акаунт </div>
        <div class="block-content">
            <ul>
                <li><a asp-area="" asp-controller="MyAccount" asp-action="ChangePassword"><span>Промени парола</span></a></li>
                <li><a asp-area="" asp-controller="MyAccount" asp-action="DeleteAccount"><span> Изтрии акаунт</span></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy"><span> Privacy</span></a></li>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li><span> <h3>ADMIN MENU</h3></span></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateProduct"><span>Добави продукт</span></a></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateCategory"><span>Добави категория</span></a></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="CreateSubCategory"><span>Добави подкатегория</span></a></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="AllCategoriesAndSubCategories"><span>Всички категории и подкатегория</span></a></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="Orders"><span>Поръчки</span></a></li>
                    <li><a asp-area="Administration" asp-controller="Administration" asp-action="Discounts"><span>Отстъпки</span></a></li>
                }
            </ul>
        </div>
    </div>

</aside>

