@using YovevElectric.Common
@using YovevElectric.Data.Models
@using Microsoft.AspNetCore.Identity
@using YovevElectric.Services.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/stylesheet/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/font-awesome.css" media="all" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/bootstrap-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/revslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/owl.carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/owl.theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/jquery.bxslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/jquery.mobile-menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/style.css" media="all" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylesheet/responsive.css" media="all" asp-append-version="true" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,800" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div id="page">
        <header>
            <div class="container">
                <div class="row">
                    <div id="header">
                        <div class="header-container">
                            <div class="header-logo">
                                <a href="index-2.html" title="Car HTML" class="logo">
                                    <div><img src="~/images/logo.png" alt="Car Store"></div>
                                </a>
                            </div>
                            <div class="header__nav">
                                <div class="header-banner">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        <div class="assetBlock">
                                            <div style="height: 20px; overflow: hidden;" id="slideshow">
                                                <p style="display: block;">Hot days! - <span>50%</span> Get ready for summer! </p>
                                                <p style="display: none;">Save up to <span>40%</span> Hurry limited offer!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-lg-6 col-xs-12 col-sm-6 col-md-6 call-us"><i class="fa fa-clock-o"></i> Mon - Fri : 09am to 06pm <i class="fa fa-phone"></i> +1 800 789 0000</div>
                                </div>
                                <div class="fl-header-right">
                                    <div class="fl-links">
                                        <div class="no-js">
                                            <a title="" class="clicker"></a>
                                            <div class="fl-nav-links">
                                                <h3>My Acount</h3>
                                                @if (this.SignInManager.IsSignedIn(this.User))
                                                {
                                                    <a asp-area="" asp-controller="MyAccount" asp-action="MyAccount">Моят профил</a>
                                                }
                                                else
                                                {
                                                    <ul class="links">
                                                        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a></li>
                                                        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register" title="Wishlist">Register</a></li>
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-cart-contain">
                                        <div class="mini-cart">
                                            <div class="basket"> <a asp-area="" asp-controller="Bag" asp-action="Bag"></a> </div>
                                        </div>
                                    </div>
                                    <div class="collapse navbar-collapse">
                                        <form class="navbar-form" role="search">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="search-btn"> <span class="glyphicon glyphicon-search"> <span class="sr-only">Search</span> </span> </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="fl-nav-menu">
                                    <nav>
                                        <div class="mm-toggle-wrap">
                                            <div class="mm-toggle"><i class="fa fa-bars"></i><span class="mm-label">Menu</span> </div>
                                        </div>
                                        <div class="nav-inner">
                                            <!-- BEGIN NAV -->
                                            <ul id="nav" class="hidden-xs">
                                                <li> <a class="level-top" asp-area="" asp-controller="Home" asp-action="Index"><span>Начална страница</span></a></li>
                                                <li> <a class="level-top" asp-area="" asp-controller="Products" asp-action="Products"><span>Всички артикули</span></a></li>
                                            </ul>
                                            <!--nav-->
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div>
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <footer>
                <!-- BEGIN INFORMATIVE FOOTER -->
                <div class="footer-inner">
                    <div class="our-features-box wow bounceInUp animated animated">
                        <div class="container">
                            <ul>
                                <li>
                                    <div class="feature-box">
                                        <div class="icon-truck"><img src="~/images/world-icon.png" alt="Image"></div>
                                        <div class="content">
                                            <h6>World's #1</h6>
                                            <p>Largest Auto portal</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box">
                                        <div class="icon-support"><img src="~/images/car-sold-icon.png" alt="Image"></div>
                                        <div class="content">
                                            <h6>Car Sold</h6>
                                            <p>Every 4 minute</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="feature-box">
                                        <div class="icon-money"><img src="~/images/tag-icon.png" alt="Image"></div>
                                        <div class="content">
                                            <h6>Offers</h6>
                                            <p>Stay updated pay less</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="last">
                                    <div class="feature-box">
                                        <div class="icon-return"><img src="~/images/compare-icon.png" alt="Image"></div>
                                        <div class="content">
                                            <h6>Compare</h6>
                                            <p>Decode the right car</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="newsletter-row">
                        <div class="container">
                            <div class="row">

                                <!-- Footer Newsletter -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col1">
                                    <div class="newsletter-wrap">
                                        <h5>Newsletter</h5>
                                        <h4>Get Notified Of any Updates!</h4>
                                        <form action="#" method="post" id="newsletter-validate-detail1">
                                            <div id="container_form_news">
                                                <div id="container_form_news2">
                                                    <input type="text" name="email" id="newsletter1" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Enter your email address">
                                                    <button type="submit" title="Subscribe" class="button subscribe"><span>Subscribe</span></button>
                                                </div>
                                                <!--container_form_news2-->
                                            </div>
                                            <!--container_form_news-->
                                        </form>
                                    </div>
                                    <!--newsletter-wrap-->
                                </div>
                            </div>
                        </div>
                        <!--footer-column-last-->
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 col-lg-4">
                                <div class="co-info">
                                    <h4>SHOWROOM</h4>
                                    <address>
                                        <div>
                                            <span>
                                                ThemesGround, 789 Main rd, Anytown, <br>
                                                CA 12345 USA
                                            </span>
                                        </div>
                                        <div> <span> +1 800 789 0000</span></div>
                                        <div> <span><a href="#">Harrier@themesground.com</a></span></div>
                                        <div> <span>Mon - Fri : 09am to 06pm</span></div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-12 col-lg-8">
                                <div class="footer-column">
                                    <h4>Quick Links</h4>
                                    <ul class="links">
                                        <li class="first"><a title="How to buy" href="http://themesground.com/blog/">Blog</a></li>
                                        <li><a title="FAQs" href="#">FAQs</a></li>
                                        <li><a title="Payment" href="#">Payment</a></li>
                                        <li><a title="Shipment" href="#">Shipment</a></li>
                                        <li><a title="Where is my order?" href="#">Where is my order?</a></li>
                                        <li class="last"><a title="Return policy" href="#">Return policy</a></li>
                                    </ul>
                                </div>
                                <div class="footer-column">
                                    <h4>Style Advisor</h4>
                                    <ul class="links">
                                        <li class="first"><a title="Your Account" href="#">Your Account</a></li>
                                        <li><a title="Information" href="#">Information</a></li>
                                        <li><a title="Addresses" href="#">Addresses</a></li>
                                        <li><a title="Addresses" href="#">Discount</a></li>
                                        <li><a title="Orders History" href="#">Orders History</a></li>
                                        <li class="last"><a title=" Additional Information" href="#"> Additional Information</a></li>
                                    </ul>
                                </div>
                                <div class="footer-column">
                                    <h4>Information</h4>
                                    <ul class="links">
                                        <li class="first"><a title="Site Map" href="#">Site Map</a></li>
                                        <li><a title="Search Terms" href="#">Search Terms</a></li>
                                        <li><a title="Advanced Search" href="#">Advanced Search</a></li>
                                        <li><a title="History" href="#">About Us</a></li>
                                        <li><a title="History" href="#">Contact Us</a></li>
                                        <li><a title="Suppliers" href="#">Suppliers</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--col-sm-12 col-xs-12 col-lg-8-->
                            <!--col-xs-12 col-lg-4-->
                        </div>
                        <!--row-->

                    </div>

                    <!--container-->
                </div>
                <!--footer-inner-->

                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="social">
                                    <ul>
                                        <li class="fb"><a href="#"></a></li>
                                        <li class="tw"><a href="#"></a></li>
                                        <li class="googleplus"><a href="#"></a></li>
                                        <li class="rss"><a href="#"></a></li>
                                        <li class="pintrest"><a href="#"></a></li>
                                        <li class="linkedin"><a href="#"></a></li>
                                        <li class="youtube"><a href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 coppyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="payment-accept"> <img src="~/images/payment-1.png" alt=""> <img src="~/images/payment-2.png" alt=""> <img src="~/images/payment-3.png" alt=""> <img src="~/images/payment-4.png" alt=""> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN SIMPLE FOOTER -->
            </footer>
        </footer>

        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript" src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-slider.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/parallax.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/revslider.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/common.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/jquery.bxslider.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/jquery.mobile-menu.min.js" asp-append-version="true"></script>
        <script src="~/js/countdown.js" asp-append-version="true"></script>
        <script>
            jQuery(document).ready(function () {
                jQuery('#rev_slider_4').show().revolution({
                    dottedOverlay: 'none',
                    delay: 5000,
                    startwidth: 1170,
                    startheight: 650,

                    hideThumbs: 200,
                    thumbWidth: 200,
                    thumbHeight: 50,
                    thumbAmount: 2,

                    navigationType: 'thumb',
                    navigationArrows: 'solo',
                    navigationStyle: 'round',

                    touchenabled: 'on',
                    onHoverStop: 'on',

                    swipe_velocity: 0.7,
                    swipe_min_touches: 1,
                    swipe_max_touches: 1,
                    drag_block_vertical: false,

                    spinner: 'spinner0',
                    keyboardNavigation: 'off',

                    navigationHAlign: 'center',
                    navigationVAlign: 'bottom',
                    navigationHOffset: 0,
                    navigationVOffset: 20,

                    soloArrowLeftHalign: 'left',
                    soloArrowLeftValign: 'center',
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: 'right',
                    soloArrowRightValign: 'center',
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,

                    shadow: 0,
                    fullWidth: 'on',
                    fullScreen: 'off',

                    stopLoop: 'off',
                    stopAfterLoops: -1,
                    stopAtSlide: -1,

                    shuffle: 'off',

                    autoHeight: 'off',
                    forceFullWidth: 'on',
                    fullScreenAlignForce: 'off',
                    minFullScreenHeight: 0,
                    hideNavDelayOnMobile: 1500,

                    hideThumbsOnMobile: 'off',
                    hideBulletsOnMobile: 'off',
                    hideArrowsOnMobile: 'off',
                    hideThumbsUnderResolution: 0,

                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0,
                    fullScreenOffsetContainer: ''
                });
            });
        </script>
        <script type="text/javascript">
            function HideMe() {
                jQuery('.popup1').hide();
                jQuery('#fade').hide();
            }
        </script>
        <script>
            var dthen1 = new Date("12/25/17 11:59:00 PM");
            start = "08/04/15 03:02:11 AM";
            start_date = Date.parse(start);
            var dnow1 = new Date(start_date);
            if (CountStepper > 0)
                ddiff = new Date((dnow1) - (dthen1));
            else
                ddiff = new Date((dthen1) - (dnow1));
            gsecs1 = Math.floor(ddiff.valueOf() / 1000);

            var iid1 = "countbox_1";
            CountBack_slider(gsecs1, "countbox_1", 1);
        </script>

        @this.RenderSection("Scripts", required: false)
    </div>
</body>
</html>
