@model YovevElectric.Web.ViewModels.Category.SubCategoryInputModel;

@{
    ViewData["Title"] = "CreateSubCategory";
}

    <body onload="loadCategories()">
        <div id="page">
            <section class="main-container col2-right-layout">
                <div class="main container">
                    <div class="row">
                        <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
                            <div class="my-account">

                                <div class="box-account">
                                    <div class="page-title">
                                        <h2>Добави продукт</h2>
                                    </div>
                                    <form id="form" asp-area="Administration" asp-controller="Administration" asp-action="CreateSubCategory" method="post" class="form">
                                        <div class="form-group">
                                            <label asp-for="CategoryName">Категория</label>
                                            <select asp-for="CategoryName" class="form-control" id="categories"></select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SubCategoryName">Име</label>
                                            <input asp-for="SubCategoryName" type="text" placeholder="Име" class="form-control">
                                            <span asp-validation-for="SubCategoryName" class="text-danger" />
                                        </div>
                                        <button type="submit" title="submit" class="button"><span>Създай подкатегория</span></button>
                                    </form>


                                </div>
                            </div>
                        </section>
                        <partial name="_AccountNavPartial" />
                    </div>
                </div>
            </section>
        </div>
    </body>

